/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 760px;
    margin: 0 auto;
}

.header-top {
    width: 100%;
    height: 100px;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
}

.locals {
    position: absolute;
    right: 20px;
}

.locals li {
    float: left;
    list-style: none;
    padding: 5px;
    text-decoration: none;
}

.locals li a:hover {
    text-decoration: underline;
}

.locals ul :first-child {
    text-decoration: none;
}

.search {
    position: absolute;
    bottom: 25px;
    right: 20px;
}


/* -------NAV-BAR--------- */

.nav-bar {
    background-color: #333;
    height: 20px;
    padding: 16px;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline;
    margin-left: 20px;
}

.menu li:first-child {
    margin-right: 170px;
    margin-left: 10px;
}

a {
    font-size: 11px;
    color: #ff6f00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.side-bar {
    width: 200px;
    padding: 10px;
}

.content-wrapper {
    border: 1px solid #cecece;
}

.courses-list li {
    background-color: #333;
    margin: 2px;
}
/* ---------CODIGO RAQUEL------ */


/* -----------IMAGEM------- */

.hero {
    position: relative;
}

.left-arrow {
    position: absolute;
    top: 75px;
}

.right-arrow {
    position: absolute;
    top: 75px;
    right: 0px;
}


/* -----CLASSES GERAIS------ */

.bold {
    font-weight: bold;
}

a {
    color: rgb(240, 89, 34);
}


/* ------TABLE----- */

.feature-title {
    background-color: rgb(240, 89, 34);
    margin: 0;
}

.table-header {
    background-color: rgb(234, 234, 234);
    border-collapse: collapse;
    margin: 0;
}

.courses {
    border-collapse: collapse;
    text-decoration: none;
}